version: '3'
services:
    dbsha256:
        build: ssl
        image: approzium_postgres_ssl
        command: -c ssl=on -c ssl_cert_file=/var/lib/postgresql/server.crt -c ssl_key_file=/var/lib/postgresql/server.key
        environment:
            - POSTGRES_PASSWORD=password
            - POSTGRES_USER=bob
            - POSTGRES_DB=db
            - POSTGRES_INITDB_ARGS=--auth-host=scram-sha-256
            - POSTGRES_HOST_AUTH_METHOD=scram-sha-256
    dbmd5:
        build: ssl
        image: approzium_postgres_ssl
        command: -c ssl=on -c ssl_cert_file=/var/lib/postgresql/server.crt -c ssl_key_file=/var/lib/postgresql/server.key
        environment:
            - POSTGRES_PASSWORD=password
            - POSTGRES_USER=bob
            - POSTGRES_DB=db
    authenticator:
        build: authenticator
        image: approzium_authenticator
        volumes:
            - .:/usr/src/approzium
        command: ./authenticator
    sdk:
        build: sdk
        image: approzium_sdk
        volumes:
            - .:/usr/src/approzium
            - ~/.aws/:/root/.aws/:ro
