/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  max-height: 100vh;
}

.icon {
  margin-top: 3rem;
  margin-bottom: 1rem;
  width: 20rem;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-background-color);
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.main {
  background-color: var(--ifm-background-surface-color);
}

.heroTitle {
  color: var(--ifm-font-color-base);
  font-size: 4rem;
}

.heroSubtitle {
  color: var(--ifm-font-color-base);
  font-size: 1.25rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.getStarted {
  border-radius: 0;
  border: 1px solid var(--ifm-font-color-base);
  box-shadow: 2px 2.5px 0px var(--ifm-font-color-base);
  margin: 1rem;
}

@media screen and (max-width: 414px) {
  .container {
    height: 75vh;
    /* max-height: 75vh; */
    /* padding: 0; */
  }
  .icon {
    margin-top: 1rem;
    /* margin-bottom: .5rem; */
    max-width: 15rem;
  }
  .heroTitle {
    font-size: 3rem;
  }
  .heroSubtitle {
    font-size: 1rem;
  }
  .getStarted {
    margin-top: 3rem;
  }
}
