name: lint
on:
  push:
    branches: [ '*' ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: gofmt
        run: gofmt -s -w .

      - name: gosec
        uses: securego/gosec@master
        with:
            args: ./...

      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Install Python lint libraries
        run: |
          pip install isort==5.0.2 black==19.10b0 flake8==3.8.3

      - run: cd sdk/python && isort .
      - run: cd sdk/python && black .
      - run: cd sdk/python && flake8

      # commit changes
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Automatic lint
          commit_options: '--no-verify --signoff'
          repository: .
          commit_user_name: GitHub Actions Bot
