name: Release
on:
  push:
    tags:
      - 'v*'
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
      - name: Checkout Source
        uses: actions/checkout@v2

      - uses: actions/setup-go@v2
        with:
            go-version: '1.13'

      - name : Get release version
        id: get_version
        run: echo ::set-env name=RELEASE_VERSION::$(echo ${GITHUB_REF:10})

#     - name: Release Authenticator Binaries
#       uses: goreleaser/goreleaser-action@v1
#       with:
#         version: latest
#         workdir: authenticator
#         args: release --rm-dist
#       env:
#         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#     - name: Publish Python SDK
#       uses: abatilo/actions-poetry@v1.5.0
#       with:
#           python_version: 3.7.8
#           poetry_version: 1.0
#           working_directory: ./sdk/python/
#           args: publish --build
#       env:
#         POETRY_HTTP_BASIC_PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
#         POETRY_HTTP_BASIC_PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      - name: Publish Authenticator Docker Image
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: approzium/authenticator
          username: test
          password: test
#         username: ${{ secrets.DOCKER_USERNAME }}
#         password: ${{ secrets.DOCKER_PASSWORD }}
          tags: "latest,${{ env.RELEASE_VERSION }}"
        env:
          COMPOSE_DOCKER_CLI_BUILD: 1
          DOCKER_BUILDKIT: 1
